In [1]:
from mesa.batchrunner import BatchRunner, BatchRunnerMP
import pandas as pd
from model import Environment
from os import cpu_count

Market Size and Distribution Experiment

In [2]:
#Experiment 1 Variables 
fixed_params = {
  "N": 25,
  "cap_size": .35,
  "mSize":  .5,
  "lobby": .33,
  "dec": .005  
}
variable_params = {
    "am": [False, True]
}

In [3]:
experiment1 = BatchRunnerMP(Environment,
    nr_processes= None,
    variable_parameters = variable_params, 
    fixed_parameters = fixed_params,
    iterations = 5,
    max_steps = 200)

BatchRunner MP will use 8 processors.

In [4]:
experiment1.run_all()

10it [02:10, 13.00s/it]

(None,
 None,
 OrderedDict([((False, 25, 0.35, 0.5, 0.33, 0.005, 4),
                    mean_tech  total_lobby     n_allow  mean_prod  emissions      mean_cash  \
               0         4.16     0.000000  442.000000  65.260179  680.95954     652.601790
               1         4.24   144.124396  440.000000  45.800885  371.00000     995.590855
               2         4.84   268.072878  438.486458  54.039086  262.00000    1390.536616
               3         5.76   289.369213  436.486458  56.044718  216.00000    1842.483950
               4         6.28   410.473106  434.486458  61.318735  233.00000    2292.288639
               ..         ...          ...         ...        ...        ...            ...
               496       8.36   100.229561  199.897073  63.912879  273.00000  266654.343876
               497       8.36   102.311655  199.897073  61.957180  146.00000  267111.123046
               498       8.36   100.864411  199.897073  57.410878  243.00000  267532.453433
               499       8.36   108.793886  199.897073  60.780581  260.00000  267968.717145
               500       8.36   131.859238  199.897073  63.260115  124.00000  268417.832602

                    period
               0         0
               1         1
               2         2
               3         3
               4         4
               ..      ...
               496     496
               497     497
               498     498
               499     499
               500     500

               [501 rows x 7 columns]),
              ((False, 25, 0.35, 0.5, 0.33, 0.005, 0),
                    mean_tech  total_lobby     n_allow  mean_prod   emissions      mean_cash  \
               0         4.60     0.000000  329.000000  72.490218  506.298186     724.902182
               1         4.60    92.331320  328.161898  43.150515  305.000000    1061.312923
               2         4.88   183.700444  327.161898  51.952280  259.000000    1453.972146
               3         5.64   204.511882  326.161898  44.090180  310.000000    1790.170390
               4         6.24   257.311723  325.270134  42.713833  264.000000    2096.671254
               ..         ...          ...         ...        ...         ...            ...
               496       8.60   146.094662  199.366593  58.388829  188.000000  250760.206298
               497       8.60   150.226013  199.366593  60.173827  123.000000  251212.081640
               498       8.60   144.403540  199.366593  60.522204  168.000000  251664.211809
               499       8.60   138.685868  199.366593  62.415852  184.000000  252129.534461
               500       8.60   166.567991  199.366593  62.532465  310.000000  252589.667869

                    period
               0         0
               1         1
               2         2
               3         3
               4         4
               ..      ...
               496     496
               497     497
               498     498
               499     499
               500     500

               [501 rows x 7 columns]),
              ((False, 25, 0.35, 0.5, 0.33, 0.005, 1),
                    mean_tech  total_lobby     n_allow  mean_prod   emissions      mean_cash  \
               0         3.92     0.000000  543.000000  67.216343  836.583671     672.163434
               1         3.96   179.234136  541.000000  51.882416  400.000000    1068.568795
               2         4.48   308.395579  539.000000  47.628452  551.000000    1420.582997
               3         5.40   413.173368  538.166272  48.899418  352.000000    1776.279371
               4         5.96   623.716821  537.774038  63.221551  346.000000    2240.533541
               ..         ...          ...         ...        ...         ...            ...
               496       9.44   200.964583  199.866846  71.021707  164.000000  327284.726475
               497       9.44   171.469440  199.866846  68.446592  214.000000  327824.457643
               498       9.44   164.889049  199.866846  63.339843  193.000000  328306.099000
               499       9.44   177.465603  199.866846  74.685803  173.000000  328859.950557
               500       9.44   208.227026  199.866846  68.779351  171.000000  329342.703723

                    period
               0         0
               1         1
               2         2
               3         3
               4         4
               ..      ...
               496     496
               497     497
               498     498
               499     499
               500     500

               [501 rows x 7 columns]),
              ((False, 25, 0.35, 0.5, 0.33, 0.005, 2),
                    mean_tech  total_lobby     n_allow  mean_prod   emissions      mean_cash  \
               0         4.80     0.000000  398.000000  78.620681  613.136825     786.206814
               1         4.84   151.088608  397.208022  63.120588  308.000000    1264.037832
               2         5.48   295.423733  396.996144  58.910708  301.000000    1696.774718
               3         6.40   316.471934  395.996144  58.739052  288.000000    2149.634899
               4         6.92   357.408793  394.996144  61.264960  277.000000    2631.382310
               ..         ...          ...         ...        ...         ...            ...
               496       9.48   415.717854  199.863819  69.570210  290.000000  289997.018869
               497       9.48   383.903574  199.863819  67.892906  192.000000  290515.090171
               498       9.48   359.531095  199.863819  57.592445  196.000000  290925.705851
               499       9.48   376.994664  199.863819  64.551954  161.000000  291388.762064
               500       9.48   300.700484  199.863819  66.223062  166.000000  291917.509966

                    period
               0         0
               1         1
               2         2
               3         3
               4         4
               ..      ...
               496     496
               497     497
               498     498
               499     499
               500     500

               [501 rows x 7 columns]),
              ((False, 25, 0.35, 0.5, 0.33, 0.005, 3),
                    mean_tech  total_lobby     n_allow  mean_prod   emissions      mean_cash  \
               0         3.52     0.000000  607.000000  85.961014  935.281969     859.610144
               1         3.60   174.538233  604.000000  61.943890  514.000000    1329.744356
               2         4.16   292.508861  602.931392  59.554607  440.000000    1778.067179
               3         5.12   383.737220  601.715530  62.812390  479.000000    2236.695989
               4         5.72   495.069675  598.715530  74.075783  408.000000    2803.827028
               ..         ...          ...         ...        ...         ...            ...
               496       9.92    98.404709  199.295028  70.012063  183.000000  383655.953034
               497       9.92    90.327650  199.295028  63.758385  188.000000  384139.006111
               498       9.92   102.383049  199.295028  74.360491  177.000000  384696.242800
               499       9.92   121.893400  199.295028  71.661766  203.000000  385196.260762
               500       9.92   102.523041  199.295028  67.298123  215.000000  385721.287909

                    period
               0         0
               1         1
               2         2
               3         3
               4         4
               ..      ...
               496     496
               497     497
               498     498
               499     499
               500     500

               [501 rows x 7 columns]),
              ((True, 25, 0.35, 0.5, 0.33, 0.005, 2),
                    mean_tech  total_lobby     n_allow  mean_prod   emissions    mean_cash  \
               0         4.00     0.000000  553.000000  71.829146  851.113853   718.291459
               1         4.04   168.428209  551.000000  49.929577  402.000000   592.556225
               2         4.36   354.705164  549.000000  59.449744  396.000000   618.630529
               3         5.16   465.528040  547.992630  64.269241  404.000000   678.951205
               4         5.92   615.691767  546.249549  68.606223  448.000000   700.713911
               ..         ...          ...         ...        ...         ...          ...
               496       9.48   464.452329  199.098593  72.902113  193.000000  1022.872345
               497       9.48   397.238451  199.098593  68.703688  180.000000  1029.591094
               498       9.48   369.514147  199.098593  72.751452  188.000000  1055.586026
               499       9.48   417.997562  199.098593  72.875140  171.000000  1039.214895
               500       9.48   401.819257  199.098593  68.765755  203.000000  1011.224334

                    period
               0         0
               1         1
               2         2
               3         3
               4         4
               ..      ...
               496     496
               497     497
               498     498
               499     499
               500     500

               [501 rows x 7 columns]),
              ((True, 25, 0.35, 0.5, 0.33, 0.005, 1),
                    mean_tech  total_lobby     n_allow  mean_prod    emissions    mean_cash  \
               0         3.28     0.000000  657.000000  75.588233  1010.857196   755.882326
               1         3.32   226.234927  654.000000  64.763414   380.000000   712.882628
               2         3.80   376.280242  652.432588  64.822512   456.000000   714.843280
               3         4.80   522.547839  649.432588  69.361100   735.000000   737.244611
               4         5.44   758.523985  648.427061  79.296078   543.000000   769.472786
               ..         ...          ...         ...        ...          ...          ...
               496       9.60   337.858444  199.306378  79.237460   171.000000  1219.558940
               497       9.60   261.313738  199.306378  64.969254   225.000000  1130.558758
               498       9.60   260.559017  199.306378  71.387516   208.000000  1114.663966
               499       9.60   277.969671  199.306378  74.081746   192.000000  1107.997366
               500       9.60   347.139485  199.306378  76.226335   200.000000  1103.277727

                    period
               0         0
               1         1
               2         2
               3         3
               4         4
               ..      ...
               496     496
               497     497
               498     498
               499     499
               500     500

               [501 rows x 7 columns]),
              ((True, 25, 0.35, 0.5, 0.33, 0.005, 0),
                    mean_tech  total_lobby     n_allow  mean_prod    emissions    mean_cash  \
               0         3.04     0.000000  704.000000  65.927508  1084.371812   659.275077
               1         3.12   201.965978  701.000000  53.696560   514.000000   592.079256
               2         3.68   364.460281  699.514973  55.080503   563.000000   571.197275
               3         4.60   460.361983  696.514973  65.533448   433.000000   665.241340
               4         5.16   682.302949  693.514973  72.680009   526.000000   701.062101
               ..         ...          ...         ...        ...          ...          ...
               496       9.44   276.955626  199.844661  70.136933   210.000000  1013.019802
               497       9.44   308.487034  199.844661  68.067096   286.000000   992.892289
               498       9.44   322.817505  199.844661  74.592683   289.000000  1072.241399
               499       9.44   374.900744  199.844661  77.065035   172.000000  1095.315476
               500       9.44   333.177238  199.844661  82.834091   230.000000  1199.370062

                    period
               0         0
               1         1
               2         2
               3         3
               4         4
               ..      ...
               496     496
               497     497
               498     498
               499     499
               500     500

               [501 rows x 7 columns]),
              ((True, 25, 0.35, 0.5, 0.33, 0.005, 3),
                    mean_tech  total_lobby     n_allow  mean_prod   emissions    mean_cash  \
               0         4.24     0.000000  357.000000  69.789420  550.239036   697.894204
               1         4.28   125.588117  356.812193  58.858833  244.000000   729.418413
               2         4.88   183.364249  355.812193  44.655697  288.000000   604.560452
               3         5.60   345.870824  354.812193  61.801057  233.000000   653.448609
               4         6.08   471.199942  354.310061  68.949240  277.000000   743.524704
               ..         ...          ...         ...        ...         ...          ...
               496       8.64   314.599127  199.362765  75.626143  195.000000  1013.642969
               497       8.64   320.730122  199.362765  73.407396  254.000000   980.124418
               498       8.64   372.655648  199.362765  71.396022  150.000000   948.904473
               499       8.64   400.456479  199.362765  68.071952  197.000000   910.182779
               500       8.64   308.866802  199.362765  73.002451  195.000000   989.402521

                    period
               0         0
               1         1
               2         2
               3         3
               4         4
               ..      ...
               496     496
               497     497
               498     498
               499     499
               500     500

               [501 rows x 7 columns]),
              ((True, 25, 0.35, 0.5, 0.33, 0.005, 4),
                    mean_tech  total_lobby     n_allow  mean_prod   emissions    mean_cash  \
               0         4.48     0.000000  620.000000  75.132462  954.768769   751.324621
               1         4.52   205.291396  618.903371  55.454393  422.000000   638.607590
               2         4.80   466.759748  615.903371  59.363365  463.000000   596.453574
               3         5.72   554.022226  613.160054  64.825283  425.000000   679.578692
               4         6.28   873.241691  610.160054  73.847523  525.000000   699.769729
               ..         ...          ...         ...        ...         ...          ...
               496       9.48   319.362595  199.622506  69.911004  245.000000  1074.275174
               497       9.48   350.696107  199.622506  75.288054  160.000000  1074.536504
               498       9.48   354.037588  199.622506  76.214524  197.000000  1107.403927
               499       9.48   330.905437  199.622506  67.663604  220.000000  1030.698870
               500       9.48   343.904791  199.622506  77.222735  190.000000  1086.235834

                    period
               0         0
               1         1
               2         2
               3         3
               4         4
               ..      ...
               496     496
               497     497
               498     498
               499     499
               500     500

               [501 rows x 7 columns])]),
 OrderedDict([((False, 25, 0.35, 0.5, 0.33, 0.005, 4),
               Empty DataFrame
               Columns: []
               Index: []),
              ((False, 25, 0.35, 0.5, 0.33, 0.005, 0),
               Empty DataFrame
               Columns: []
               Index: []),
              ((False, 25, 0.35, 0.5, 0.33, 0.005, 1),
               Empty DataFrame
               Columns: []
               Index: []),
              ((False, 25, 0.35, 0.5, 0.33, 0.005, 2),
               Empty DataFrame
               Columns: []
               Index: []),
              ((False, 25, 0.35, 0.5, 0.33, 0.005, 3),
               Empty DataFrame
               Columns: []
               Index: []),
              ((True, 25, 0.35, 0.5, 0.33, 0.005, 2),
               Empty DataFrame
               Columns: []
               Index: []),
              ((True, 25, 0.35, 0.5, 0.33, 0.005, 1),
               Empty DataFrame
               Columns: []
               Index: []),
              ((True, 25, 0.35, 0.5, 0.33, 0.005, 0),
               Empty DataFrame
               Columns: []
               Index: []),
              ((True, 25, 0.35, 0.5, 0.33, 0.005, 3),
               Empty DataFrame
               Columns: []
               Index: []),
              ((True, 25, 0.35, 0.5, 0.33, 0.005, 4),
               Empty DataFrame
               Columns: []
               Index: [])]))

In [19]:
od = experiment1.get_collector_model()

In [20]:
print(od)

OrderedDict([((False, 25, 0.35, 0.5, 0.33, 0.005, 4),      mean_tech  total_lobby     n_allow  mean_prod  emissions      mean_cash  \
0         4.16     0.000000  442.000000  65.260179  680.95954     652.601790
1         4.24   144.124396  440.000000  45.800885  371.00000     995.590855
2         4.84   268.072878  438.486458  54.039086  262.00000    1390.536616
3         5.76   289.369213  436.486458  56.044718  216.00000    1842.483950
4         6.28   410.473106  434.486458  61.318735  233.00000    2292.288639
..         ...          ...         ...        ...        ...            ...
496       8.36   100.229561  199.897073  63.912879  273.00000  266654.343876
497       8.36   102.311655  199.897073  61.957180  146.00000  267111.123046
498       8.36   100.864411  199.897073  57.410878  243.00000  267532.453433
499       8.36   108.793886  199.897073  60.780581  260.00000  267968.717145
500       8.36   131.859238  199.897073  63.260115  124.00000  268417.832602

     period  Auction  Iteration
0         0    False          4
1         1    False          4
2         2    False          4
3         3    False          4
4         4    False          4
..      ...      ...        ...
496     496    False          4
497     497    False          4
498     498    False          4
499     499    False          4
500     500    False          4

[501 rows x 9 columns]), ((False, 25, 0.35, 0.5, 0.33, 0.005, 0),      mean_tech  total_lobby     n_allow  mean_prod   emissions      mean_cash  \
0         4.60     0.000000  329.000000  72.490218  506.298186     724.902182
1         4.60    92.331320  328.161898  43.150515  305.000000    1061.312923
2         4.88   183.700444  327.161898  51.952280  259.000000    1453.972146
3         5.64   204.511882  326.161898  44.090180  310.000000    1790.170390
4         6.24   257.311723  325.270134  42.713833  264.000000    2096.671254
..         ...          ...         ...        ...         ...            ...
496       8.60   146.094662  199.366593  58.388829  188.000000  250760.206298
497       8.60   150.226013  199.366593  60.173827  123.000000  251212.081640
498       8.60   144.403540  199.366593  60.522204  168.000000  251664.211809
499       8.60   138.685868  199.366593  62.415852  184.000000  252129.534461
500       8.60   166.567991  199.366593  62.532465  310.000000  252589.667869

     period  Auction  Iteration
0         0    False          0
1         1    False          0
2         2    False          0
3         3    False          0
4         4    False          0
..      ...      ...        ...
496     496    False          0
497     497    False          0
498     498    False          0
499     499    False          0
500     500    False          0

[501 rows x 9 columns]), ((False, 25, 0.35, 0.5, 0.33, 0.005, 1),      mean_tech  total_lobby     n_allow  mean_prod   emissions      mean_cash  \
0         3.92     0.000000  543.000000  67.216343  836.583671     672.163434
1         3.96   179.234136  541.000000  51.882416  400.000000    1068.568795
2         4.48   308.395579  539.000000  47.628452  551.000000    1420.582997
3         5.40   413.173368  538.166272  48.899418  352.000000    1776.279371
4         5.96   623.716821  537.774038  63.221551  346.000000    2240.533541
..         ...          ...         ...        ...         ...            ...
496       9.44   200.964583  199.866846  71.021707  164.000000  327284.726475
497       9.44   171.469440  199.866846  68.446592  214.000000  327824.457643
498       9.44   164.889049  199.866846  63.339843  193.000000  328306.099000
499       9.44   177.465603  199.866846  74.685803  173.000000  328859.950557
500       9.44   208.227026  199.866846  68.779351  171.000000  329342.703723

     period  Auction  Iteration
0         0    False          1
1         1    False          1
2         2    False          1
3         3    False          1
4         4    False          1
..      ...      ...        ...
496     496    False          1
497     497    False          1
498     498    False          1
499     499    False          1
500     500    False          1

[501 rows x 9 columns]), ((False, 25, 0.35, 0.5, 0.33, 0.005, 2),      mean_tech  total_lobby     n_allow  mean_prod   emissions      mean_cash  \
0         4.80     0.000000  398.000000  78.620681  613.136825     786.206814
1         4.84   151.088608  397.208022  63.120588  308.000000    1264.037832
2         5.48   295.423733  396.996144  58.910708  301.000000    1696.774718
3         6.40   316.471934  395.996144  58.739052  288.000000    2149.634899
4         6.92   357.408793  394.996144  61.264960  277.000000    2631.382310
..         ...          ...         ...        ...         ...            ...
496       9.48   415.717854  199.863819  69.570210  290.000000  289997.018869
497       9.48   383.903574  199.863819  67.892906  192.000000  290515.090171
498       9.48   359.531095  199.863819  57.592445  196.000000  290925.705851
499       9.48   376.994664  199.863819  64.551954  161.000000  291388.762064
500       9.48   300.700484  199.863819  66.223062  166.000000  291917.509966

     period  Auction  Iteration
0         0    False          2
1         1    False          2
2         2    False          2
3         3    False          2
4         4    False          2
..      ...      ...        ...
496     496    False          2
497     497    False          2
498     498    False          2
499     499    False          2
500     500    False          2

[501 rows x 9 columns]), ((False, 25, 0.35, 0.5, 0.33, 0.005, 3),      mean_tech  total_lobby     n_allow  mean_prod   emissions      mean_cash  \
0         3.52     0.000000  607.000000  85.961014  935.281969     859.610144
1         3.60   174.538233  604.000000  61.943890  514.000000    1329.744356
2         4.16   292.508861  602.931392  59.554607  440.000000    1778.067179
3         5.12   383.737220  601.715530  62.812390  479.000000    2236.695989
4         5.72   495.069675  598.715530  74.075783  408.000000    2803.827028
..         ...          ...         ...        ...         ...            ...
496       9.92    98.404709  199.295028  70.012063  183.000000  383655.953034
497       9.92    90.327650  199.295028  63.758385  188.000000  384139.006111
498       9.92   102.383049  199.295028  74.360491  177.000000  384696.242800
499       9.92   121.893400  199.295028  71.661766  203.000000  385196.260762
500       9.92   102.523041  199.295028  67.298123  215.000000  385721.287909

     period  Auction  Iteration
0         0    False          3
1         1    False          3
2         2    False          3
3         3    False          3
4         4    False          3
..      ...      ...        ...
496     496    False          3
497     497    False          3
498     498    False          3
499     499    False          3
500     500    False          3

[501 rows x 9 columns]), ((True, 25, 0.35, 0.5, 0.33, 0.005, 2),      mean_tech  total_lobby     n_allow  mean_prod   emissions    mean_cash  \
0         4.00     0.000000  553.000000  71.829146  851.113853   718.291459
1         4.04   168.428209  551.000000  49.929577  402.000000   592.556225
2         4.36   354.705164  549.000000  59.449744  396.000000   618.630529
3         5.16   465.528040  547.992630  64.269241  404.000000   678.951205
4         5.92   615.691767  546.249549  68.606223  448.000000   700.713911
..         ...          ...         ...        ...         ...          ...
496       9.48   464.452329  199.098593  72.902113  193.000000  1022.872345
497       9.48   397.238451  199.098593  68.703688  180.000000  1029.591094
498       9.48   369.514147  199.098593  72.751452  188.000000  1055.586026
499       9.48   417.997562  199.098593  72.875140  171.000000  1039.214895
500       9.48   401.819257  199.098593  68.765755  203.000000  1011.224334

     period  Auction  Iteration
0         0     True          2
1         1     True          2
2         2     True          2
3         3     True          2
4         4     True          2
..      ...      ...        ...
496     496     True          2
497     497     True          2
498     498     True          2
499     499     True          2
500     500     True          2

[501 rows x 9 columns]), ((True, 25, 0.35, 0.5, 0.33, 0.005, 1),      mean_tech  total_lobby     n_allow  mean_prod    emissions    mean_cash  \
0         3.28     0.000000  657.000000  75.588233  1010.857196   755.882326
1         3.32   226.234927  654.000000  64.763414   380.000000   712.882628
2         3.80   376.280242  652.432588  64.822512   456.000000   714.843280
3         4.80   522.547839  649.432588  69.361100   735.000000   737.244611
4         5.44   758.523985  648.427061  79.296078   543.000000   769.472786
..         ...          ...         ...        ...          ...          ...
496       9.60   337.858444  199.306378  79.237460   171.000000  1219.558940
497       9.60   261.313738  199.306378  64.969254   225.000000  1130.558758
498       9.60   260.559017  199.306378  71.387516   208.000000  1114.663966
499       9.60   277.969671  199.306378  74.081746   192.000000  1107.997366
500       9.60   347.139485  199.306378  76.226335   200.000000  1103.277727

     period  Auction  Iteration
0         0     True          1
1         1     True          1
2         2     True          1
3         3     True          1
4         4     True          1
..      ...      ...        ...
496     496     True          1
497     497     True          1
498     498     True          1
499     499     True          1
500     500     True          1

[501 rows x 9 columns]), ((True, 25, 0.35, 0.5, 0.33, 0.005, 0),      mean_tech  total_lobby     n_allow  mean_prod    emissions    mean_cash  \
0         3.04     0.000000  704.000000  65.927508  1084.371812   659.275077
1         3.12   201.965978  701.000000  53.696560   514.000000   592.079256
2         3.68   364.460281  699.514973  55.080503   563.000000   571.197275
3         4.60   460.361983  696.514973  65.533448   433.000000   665.241340
4         5.16   682.302949  693.514973  72.680009   526.000000   701.062101
..         ...          ...         ...        ...          ...          ...
496       9.44   276.955626  199.844661  70.136933   210.000000  1013.019802
497       9.44   308.487034  199.844661  68.067096   286.000000   992.892289
498       9.44   322.817505  199.844661  74.592683   289.000000  1072.241399
499       9.44   374.900744  199.844661  77.065035   172.000000  1095.315476
500       9.44   333.177238  199.844661  82.834091   230.000000  1199.370062

     period  Auction  Iteration
0         0     True          0
1         1     True          0
2         2     True          0
3         3     True          0
4         4     True          0
..      ...      ...        ...
496     496     True          0
497     497     True          0
498     498     True          0
499     499     True          0
500     500     True          0

[501 rows x 9 columns]), ((True, 25, 0.35, 0.5, 0.33, 0.005, 3),      mean_tech  total_lobby     n_allow  mean_prod   emissions    mean_cash  \
0         4.24     0.000000  357.000000  69.789420  550.239036   697.894204
1         4.28   125.588117  356.812193  58.858833  244.000000   729.418413
2         4.88   183.364249  355.812193  44.655697  288.000000   604.560452
3         5.60   345.870824  354.812193  61.801057  233.000000   653.448609
4         6.08   471.199942  354.310061  68.949240  277.000000   743.524704
..         ...          ...         ...        ...         ...          ...
496       8.64   314.599127  199.362765  75.626143  195.000000  1013.642969
497       8.64   320.730122  199.362765  73.407396  254.000000   980.124418
498       8.64   372.655648  199.362765  71.396022  150.000000   948.904473
499       8.64   400.456479  199.362765  68.071952  197.000000   910.182779
500       8.64   308.866802  199.362765  73.002451  195.000000   989.402521

     period  Auction  Iteration
0         0     True          3
1         1     True          3
2         2     True          3
3         3     True          3
4         4     True          3
..      ...      ...        ...
496     496     True          3
497     497     True          3
498     498     True          3
499     499     True          3
500     500     True          3

[501 rows x 9 columns]), ((True, 25, 0.35, 0.5, 0.33, 0.005, 4),      mean_tech  total_lobby     n_allow  mean_prod   emissions    mean_cash  \
0         4.48     0.000000  620.000000  75.132462  954.768769   751.324621
1         4.52   205.291396  618.903371  55.454393  422.000000   638.607590
2         4.80   466.759748  615.903371  59.363365  463.000000   596.453574
3         5.72   554.022226  613.160054  64.825283  425.000000   679.578692
4         6.28   873.241691  610.160054  73.847523  525.000000   699.769729
..         ...          ...         ...        ...         ...          ...
496       9.48   319.362595  199.622506  69.911004  245.000000  1074.275174
497       9.48   350.696107  199.622506  75.288054  160.000000  1074.536504
498       9.48   354.037588  199.622506  76.214524  197.000000  1107.403927
499       9.48   330.905437  199.622506  67.663604  220.000000  1030.698870
500       9.48   343.904791  199.622506  77.222735  190.000000  1086.235834

     period  Auction  Iteration
0         0     True          4
1         1     True          4
2         2     True          4
3         3     True          4
4         4     True          4
..      ...      ...        ...
496     496     True          4
497     497     True          4
498     498     True          4
499     499     True          4
500     500     True          4

[501 rows x 9 columns])])

In [23]:
lst = []
for key, value in od.items():
    auction = [key[0] for i in range(len(value.mean_tech))]
    iteration = [key[6] for i in range(len(value))]
    value["Auction"] = auction
    value["Iteration"] = iteration
    lst.append(value)

In [24]:
lst[1]

,mean_tech,total_lobby,n_allow,mean_prod,emissions,mean_cash,period,Auction,Iteration
0,4.60,0.000000,329.000000,72.490218,506.298186,724.902182,0,False,0
1,4.60,92.331320,328.161898,43.150515,305.000000,1061.312923,1,False,0
2,4.88,183.700444,327.161898,51.952280,259.000000,1453.972146,2,False,0
3,5.64,204.511882,326.161898,44.090180,310.000000,1790.170390,3,False,0
4,6.24,257.311723,325.270134,42.713833,264.000000,2096.671254,4,False,0
...,...,...,...,...,...,...,...,...,...
496,8.60,146.094662,199.366593,58.388829,188.000000,250760.206298,496,False,0
497,8.60,150.226013,199.366593,60.173827,123.000000,251212.081640,497,False,0
498,8.60,144.403540,199.366593,60.522204,168.000000,251664.211809,498,False,0
499,8.60,138.685868,199.366593,62.415852,184.000000,252129.534461,499,False,0
500,8.60,166.567991,199.366593,62.532465,310.000000,252589.667869,500,False,0

In [25]:
lst[0].columns

Index(['mean_tech', 'total_lobby', 'n_allow', 'mean_prod', 'emissions',
       'mean_cash', 'period', 'Auction', 'Iteration'],
      dtype='object')

In [41]:
df = pd.concat(lst)

In [42]:
df

,mean_tech,total_lobby,n_allow,mean_prod,emissions,mean_cash,period,Auction,Iteration
0,4.16,0.000000,442.000000,65.260179,680.95954,652.601790,0,False,4
1,4.24,144.124396,440.000000,45.800885,371.00000,995.590855,1,False,4
2,4.84,268.072878,438.486458,54.039086,262.00000,1390.536616,2,False,4
3,5.76,289.369213,436.486458,56.044718,216.00000,1842.483950,3,False,4
4,6.28,410.473106,434.486458,61.318735,233.00000,2292.288639,4,False,4
...,...,...,...,...,...,...,...,...,...
496,9.48,319.362595,199.622506,69.911004,245.00000,1074.275174,496,True,4
497,9.48,350.696107,199.622506,75.288054,160.00000,1074.536504,497,True,4
498,9.48,354.037588,199.622506,76.214524,197.00000,1107.403927,498,True,4
499,9.48,330.905437,199.622506,67.663604,220.00000,1030.698870,499,True,4
500,9.48,343.904791,199.622506,77.222735,190.00000,1086.235834,500,True,4